<h2>Guru's Games</h2>
<ul class ="gamesUl">
  <li *ngFor = "let game of games">
    <span class = "badge">{{game.serialNo}} </span>{{game.name}}
  </li>
</ul>







<!--
<h2>{{ game.serialNo}}. {{ game.name | uppercase }} </h2>
<div>
    <label>Name:
      <input [(ngModel)]="game.name" placeholder="name">
    </label>
    <br/><br/>
    <label>Rating:
      <input [(ngModel)]="game.rating" placeholder="rating">
    </label>
    <br/><br/>
    <label>Review:
      <input [(ngModel)]="game.review" placeholder="review">
    </label>
    
</div>
-->
